{% extends '::admin.html.twig' %}

{% block breadcrumb %}
<li>
    <a href="{{ path('user') }}">Utilisateurs</a> <span class="divider">/</span>
</li>
<li class="active">Modifier l'utilisateur "{{ entity.username }}"</li>
{% endblock %}

{% block body %}
<div class="box">
    <h4 class="box-header round-top">
        Modifier l'utilisateur "{{ entity.username }}"
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">
            {% form_theme edit_form 'AdminBundle:Themes:form.html.twig' %}
            <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-check icon-white"></i> Modifier</button>
                    <a href="{{ path('user') }}" class="btn">
                        <i class="icon-list"></i> Retour à la liste
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}