{% extends '::admin.html.twig' %}

{% block body %}
<h1>Liste des utilisateurs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Mail</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstName }} {{ entity.lastName }}</td>
            <td>
                {% for role in entity.roles %}
                    {% if role != 'ROLE_USER' %}
                    {{ role | lower | replace({'role_':''}) }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ entity.email }}</td>
            <td>
                {% if entity.isEnabled == 1 %}
                    Activé
                {% else %}
                    Non activé
                {% endif %}
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">
                            <button class="btn btn-small btn-primary" type="button">Voir</button>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                            <button class="btn btn-small btn-primary" type="button">Modifier son compte</button>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('user_new') }}" class="btn btn-small btn-primary">
            Creer un nouvel utilisateur
        </a>
    </li>
</ul>
{% endblock %}

