{% extends '::admin.html.twig' %}

{% block body %}
<div class="box">
    <h4 class="box-header round-top">
        Gestion des utilisateurs
        <a class="box-btn" title="close">
            <i class="icon-remove"></i>
        </a>
        <a class="box-btn" title="toggle">
            <i class="icon-minus"></i>
        </a>
        <a class="box-btn" title="#box-config-modal" data-toggle="modal" title="config">
            <i class="icon-cog"></i>
        </a>
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">
            <div id="filtres">
                <div id="contentFiltres">
                    <form action="{{ path('user') }}" method="get" class="form-inline">
                        {{ form_label(form.login) }} {{ form_widget(form.login) }} {{ form_label(form.nom) }} {{ form_widget(form.nom) }} <br><br>
                        {{ form_label(form.email) }} {{ form_widget(form.email) }} {{ form_label(form.type) }} {{ form_widget(form.type) }}
                        {{ form_rest(form) }}
                        <input type="submit" value="afficher">
                    </form>
                </div>
            </div>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}">
                            {{ entity.firstName }} {{ entity.lastName }}
                            </a>
                        </td>
                        <td>{{ entity.email }}</td>
                        <td>
                            {% for role in entity.roles %}
                                {% if role != 'ROLE_USER' %}
                                {{ role | lower | replace({'role_':''}) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if entity.isEnabled == 1 %}
                                Activé
                            {% else %}
                                Non activé
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-small btn-info">
                                <i class="icon-edit icon-white"></i>
                                Modifier le compte
                            </a>
                        </td>
                    </tr>
                {%  else %}
                    <tr><td>Aucun utilisateur trouvée.</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{{ path('user_new') }}" class="btn btn-small btn-primary">
    Créer un nouvel utilisateur
</a>
{% endblock %}

