{% extends '::admin.html.twig' %}

{% block menu %}
    <li class="nav-header">Utilisateur</li>
    <li><a href="{{ path('user_new') }}">Ajouter</a></li>
    <li><a href="{{ path('user') }}">Liste des utilisateurs</a></li>
    <li><a href="#">Utilisateur(s) en attente</a></li>
{% endblock %}

{% block page_header %}
    <div class="row-fluid" style="border-bottom: 1px solid #eeeeee;margin-bottom: 18px;">
        <div class="span8 m-botton-group">
            <h3>Liste des utilisateurs</h3>
        </div>
        <div class="span4">
            <div class="btn-group pull-right">
                <a class="btn btn-danger" href="{{ path('user_new') }}">
                    Ajouter un utilisateur
                </a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a data-toggle="modal" href="{{ path('export_user') }}"><i class="icon-download-alt"></i> Exporter la liste</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<!--<div class="box">
    <h4 class="box-header round-top">
        <i class="icon-user"></i>
        Liste des utilisateurs ({% if nb is defined %}{{ nb }}{% endif %})
        <a class="box-btn" title="close">
            <i class="icon-remove"></i>
        </a>
        <a class="box-btn" title="toggle">
            <i class="icon-minus"></i>
        </a>
        <a class="box-btn" title="#box-config-modal" data-toggle="modal">
            <i class="icon-cog"></i>
        </a>
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">-->
            <div id="filtres">
                <div id="titreFiltres">
                    <h4>filtres</h4>
                </div>
                <div id="contentFiltres">
                    <form action="{{ path('user') }}" method="get" class="form-inline">
                        {{ form_widget(form.login,{ 'attr': {'placeholder': 'login'} }) }} {{ form_widget(form.nom,{ 'attr': {'placeholder': 'nom'} }) }} 
                        {{ form_widget(form.email,{ 'attr': {'placeholder': 'email'} }) }}  <br><br>
                        {{ form_widget(form.type) }} {{ form_widget(form.status) }} <br><br>
                        {{ form_rest(form) }}
                        <a href="{{ path('user') }}" class="btn btn-small raz-filter" data-href="{{ path('user') }}">
                            <i class="icon-refresh"></i>
                             Réinitialiser
                        </a>
                        <button type="submit" class="btn btn-small btn-primary"><i class="icon-filter icon-white"></i>Filtrer</button>
                    </form>
                </div>
            </div>
            <hr>
            <table class="table table-striped tListeUsers">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Dernière connexion</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                        <td>{{ entity.firstName }} </td>
                        <td>{{ entity.lastName }}</td>
                        <td>{{ entity.email|replace({'@': '[@]'}) }}</td>
                        <td>
                            {% for role in entity.roles %}
                                {% if role != 'ROLE_USER' %}
                                {{ role | lower | replace({'role_':''}) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if entity.lastLogin is not null %}
                                {{ entity.lastLogin|date('d/m/Y H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.isEnabled == 1 %}
                                <span class="label label-success">Activé</span>
                            {% else %}
                                <span class="label label-important">Non activé</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                    Action
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Modifier</a></li>
                                    <li><a href="#"><i class="icon-ban-circle"></i> Désactiver</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {%  else %}
                    <tr><td>Aucun utilisateur trouvée.</td></tr>
                {% endfor %}
                </tbody>
            </table>
       <!-- </div>
    </div>
</div>-->
{% endblock %}

