{% extends ':Admin:base.html.twig' %}

{% block breadcrumb %}
<li>
    <a href="{{ path('user') }}">Utilisateurs</a> <span class="divider">/</span>
</li>
<li class="active">Ajouter un utilisateur</li>
{% endblock %}

{% block body %}
<div class="span12">
    <h4 class="header">Ajouter un utilisateur</h4>
    {% form_theme form ':Themes:form.html.twig' %}
    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-check icon-white"></i> Valider</button>
            <a href="{{ path('user') }}" class="btn">
                <i class="icon-list"></i> Retour à la liste
            </a>
        </div>
    </form>
</div>
{% endblock %}