{% extends ':Admin:base.html.twig' %}

{% block breadcrumb %}
<li>
    <a href="{{ path('user') }}">Utilisateurs</a> <span class="divider">/</span>
</li>
<li class="active">Ajouter un utilisateur</li>
{% endblock %}

{% block body %}
<div class="box">
    <h4 class="box-header round-top">
        Ajouter un utilisateur
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">
            {% form_theme form ':Themes:form.html.twig' %}
            <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-check icon-white"></i> Valider</button>
                    <a href="{{ path('user') }}" class="btn">
                        <i class="icon-list"></i> Retour à la liste
                    </a>
		        </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}