<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ sitename }}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site web du Longchamp Roller Team">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/site/css/bootstrap.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/dark.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/site/css/default.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/site/css/simplenso.css') }}" type="text/css" media="screen" />
    {% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="maincontainer" class="clearfix">
    <header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">
                    <i class="icon-home icon-white"></i>
                    {{ sitename }}
                </a>
                <ul class="nav user_menu pull-right">
                    <li class="divider-vertical hidden-phone hidden-tablet"></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('bundles/admin/img/user_avatar.png') }}" alt="" class="user_avatar">
                            John Doe
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav" id="mobile-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="icon-folder-close icon-white"></i>
                            Contenu
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('article') }}">Articles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="icon-user icon-white"></i>
                            Utilisateurs
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user') }}">Membre(s)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="icon-play-circle icon-white"></i>
                            Videos
                            <b class="caret"></b>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-envelope icon-white"></i>
                            Notifications <span class="label label-info">100</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Message 1</a></li>
                            <li><a href="#">Another message</a></li>
                            <li><a href="#">Something else message</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Older messages...</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
    </header>
    <div id="contentwrapper">
        <div class="main_content">
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span10">
                    <!--<div>
                        <ul class="breadcrumb">
                            <li class="first">
                                <i class="icon-home"></i>
                                <a href="{{ path('dashboard') }}">Tableau de bord</a> <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="#">Utilisateurs</a> <span class="divider">/</span>
                            </li>
                            <li class="active">Liste</li>
                        </ul>
                    </div>-->
                    <div class="row-fluid">
                    {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar"></div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/site/js/jquery.min.js') }}"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
    <script src="{{ asset('bundles/site/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/site/js/admin/simplenso.js') }}"></script>
{% endblock %}
</body>
</html>