<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="description de la page"/>
        <meta name="keywords" content="mots-clé1, mots-clé2, ..."/>
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ sitename }}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/site/css/common.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/site/css/custom.css') }}" type="text/css" />
        {% endblock %}
        <!--[if lt IE 9]> <script src="{{ asset('web/js/html5.js') }}"></script> <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="wrapper">
            <!-- Header -->
            <header>
                <hgroup>
                    <h1><a title="Accueil" href="{{ path('home') }}">Longchamp Roller Team</a></h1>
                </hgroup>
                <!-- Navigation -->
                <nav role="navigation">
                    <ul>
                        <li><a title="Association" href="{{ path('show_page', { 'page': 'association' }) }}">Association</a></li>
                        <li><a title="Photos" href="{{ path('show_page', { 'page': 'photos' }) }}">Photos</a></li>
                        <li><a title="Videos" href="{{ path('video') }}">Vidéos</a></li>
                        <li><a title="Calendrier" href="{{ path('show_page', { 'page': 'calendar' }) }}">Calendrier</a></li>
                        <li><a title="Calendrier" href="{{ path('team_list') }}">Equipe</a></li>
                        <li><a title="Contact" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </nav>
                <!-- End  Navigation -->
            </header>
            <!-- End Header  -->
        </div>
        <div id="featured">{% block featured %}{% endblock %}</div>
        <div id="page-wrapper">
            <div id="page">
                <div id="main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="centered-wrapper">
                <div id="topfooter">
                    <div class="one-half">
                        <h3>About Us</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam veritatis et quasi nam liber tempore.</p>
                        <div class="footer-logo"></div>
                    </div><!--end percent-one-half-->
                    <div class="one-half column-last">
                        <div class="percent-one-half">
                            <h3>We are on Twitter</h3>
                            <div class="tweet"><p class="loading">loading tweets...</p></div>
                        </div>

                        <div class="percent-one-half column-last">
                            <h3>Get in Touch with Us</h3>
                            <ul>
                                <li>Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043</li>
                                <li>Phone: +321 123 456 7<br>
                                    E-mail: <a href="mailto:">johndoe@ipsum.com</a></li>
                            </ul>
                        </div><!--end one-half-->
                    </div><!--end one-half-->
                    <div class="clear"></div></div><!--end topfooter-->
            </div><!--end centered-wrapper-->
            <div id="bottomfooter">
                <div class="centered-wrapper">
                    <div class="one-half">
                        <p>COPYRIGHT © 2013 - SYMPATHIQUE | ALL RIGHTS RESERVED</p>
                    </div><!--end one-half-->

                    <div class="one-half column-last">
                        <ul id="social">
                            <li><a class="rss" href="#">RSS Feed</a></li>
                            <li><a class="facebook" href="#">Facebook</a></li>
                            <li><a class="twitter" href="#">Twitter</a></li>
                            <li><a class="flickr" href="#">Flickr</a></li>
                            <li><a class="google" href="#">Google</a></li>
                        </ul>
                    </div><!--end one-half-->
                </div><!--end centered-wrapper-->
            </div><!--end bottomfooter-->
        </footer>
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/site/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1&appId=296297797115446"></script>
        <script type="text/javascript" src="{{ asset('bundles/site/js/plugins/lazyload/jquery.lazyload.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
