<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="description de la page"/>
        <meta name="keywords" content="mots-clé1, mots-clé2, ..."/>
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ sitename }}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/site/css/common.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/site/css/custom.css') }}" type="text/css" />
        {% endblock %}
        <!--[if lt IE 9]> <script src="{{ asset('web/js/html5.js') }}"></script> <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="wrapper">
            <!-- Header -->
            <header>
                <hgroup>
                    <h1><a title="Accueil" href="{{ path('home') }}">Longchamp Roller Team</a></h1>
                </hgroup>
                <!-- Navigation -->
                <nav role="navigation">
                    <ul>
                        <li><a title="Association" href="{{ path('show_page', { 'page': 'association' }) }}">Association</a></li>
                        <li><a title="Photos" href="{{ path('show_page', { 'page': 'photos' }) }}">Photos</a></li>
                        <li><a title="Videos" href="{{ path('video') }}">Vidéos</a></li>
                        <li><a title="Contact" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </nav>
                <!-- End  Navigation -->
            </header>
            <!-- End Header  -->
        </div>
        <div id="featured">{% block featured %}{% endblock %}</div>
        <div id="page-wrapper">
            <div id="page">
                <div id="main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/site/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1&appId=296297797115446"></script>
        <script type="text/javascript" src="{{ asset('bundles/site/js/plugins/lazyload/jquery.lazyload.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
