{% extends 'CMSBundle:Article:layout.html.twig' %}

{% block breadcrumb %}
<li class="active">Modifier l'article {{ article.title }}</li>
{% endblock %}

{% block box_title %}
    Modifier l'article "{{ article.title }}"
{% endblock %}

{% block box_content %}
    {% form_theme edit_form 'AdminBundle:Themes:form.html.twig' %}
    <form action="{{ path('article_update', { 'id': article.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-check icon-white"></i> Valider</button>
            <a href="{{ path('article') }}" class="btn">
                <i class="icon-list"></i> Retour à la liste
            </a>
        </div>
    </form>
{% endblock %}
    
{% block javascripts %} 
   {{ parent() }}
   <script type="text/javascript">
       CKEDITOR.replace( 'lrt_cmsbundle_articletype[content]', {
           uiColor: '#FAFAFA'
       });
   </script>    
{% endblock %} 