{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block box_title %}
    Modifier l'équipe
{% endblock %}

{% block box_content %}
    <form action="{{ path('team_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Valider</button>
        </p>
    </form>
{% endblock %}

{% block box_button %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('team') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('team_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
{% endblock %}






{% block body %}
<h1>Modifier l'article</h1>

<form action="{{ path('article_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}