{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block breadcrumb %}
<li class="active">Ajouter un article</li>
{% endblock %}

{% block box_title %}
   Ajouter un article
{% endblock %}

{% block box_content %}
    {% form_theme form 'AdminBundle:Themes:form.html.twig' %}
    <form action="{{ path('article_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-check icon-white"></i> Valider</button>
            <a href="{{ path('article') }}" class="btn">
                <i class="icon-list"></i> Retour à la liste
            </a>
        </div>
    </form>
{% endblock %}
   
{% block javascripts %} 
   {{ parent() }}
   <script type="text/javascript">
   //<![CDATA[
    var editor = CKEDITOR.replace( 'lrt_cmsbundle_articletype[content]' );
   //]]>
   </script>    
{% endblock %}   
   