{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block breadcrumb %}
<li>
    <a href="{{ path('video') }}">Vidéos</a> <span class="divider">/</span>
</li>
<li class="active">Ajouter une vidéo</li>
{% endblock %}

{% block box_title %}
    Ajouter une vidéo
{% endblock %}

{% block box_content %}
    <form action="{{ path('video_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Valider</button>
        </p>
    </form>
{% endblock %}

{% block box_button %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('video') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}