{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    <li>Profil <span class="divider">/</span></li>
    <li class="active">{{ app.user.username }}</li>
{% endblock %}

{% block body %}
<div class="row-fluid">
    <!--<div class="span2">
        <div class="well well-small">
            <div class="center">
                <img width="140" height="140" src="{{ asset('bundles/admin/img/no_picture.png') }}" alt="">
                <ul id="badge_user" class="unstyled margin-top-10px">
                    <li><span class="label label-info">Conducteur</span></li>
                </ul>
            </div>
        </div>
        <div class="well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">
                    Page
                </li>
                <li class="active"><a href="#"><span class="icon-home"></span> Flux d'activité</a></li>
                <li><a href="#"><span class="icon-road"></span> Mes vidéos</a></li>
                <li><a href="#"><span class="icon-star"></span> Mes articles</a></li>
                <li><a href="#"><span class="icon-bullhorn"></span> Mes évènements à venir</a></li>
                <li class="nav-header">
                    Messagerie
                </li>
                <li><a href="#">
                    <span class="icon-envelope"></span> Mes messages
                    <span class="label label-important">2</span>
                </a></li>
                <li><a href="#"><span class="icon-pencil"></span> Nouveau message</a></li>
                <li class="nav-header">
                    Divers
                </li>
                <li><a href="#"><span class="icon-ok"></span> Liste des succès</a></li>
                <li class="nav-header">
                    Mon compte
                </li>
                <li><a href="#"><span class="icon-edit"></span> Modifier mon profil</a></li>
                <li><a href="#"><span class="icon-off"></span> Deconnexion</a></li>
            </ul>
        </div>
    </div>-->
    <div class="span8">
        <div class="profile clearfix">
            <div class="image">
                <img src="{{ asset('bundles/admin/img/users/user_bg.jpg') }}">
            </div>
            <div class="user clearfix">
                <div class="avatar">
                    <img src="{{ asset('bundles/admin/img/users/user_profile.jpg') }}" class="img-polaroid"/>
                </div>
                <h2>nhl57</h2>
                <div class="actions">
                    <div class="btn-group">
                        <button class="btn btn-small tip" data-original-title="Add to friends"><span class="icon-plus"></span> Friends</button>
                        <button class="btn btn-small tip" data-original-title="Send message"><span class="icon-envelope"></span> Message</button>
                    </div>
                </div>
            </div>
            <div class="info">
                <p><span class="icon-globe"></span> <span class="title">Address:</span>  St. Revutskogo, Kiev, Ukraine</p>
                <p><span class="icon-gift"></span> <span class="title">Date of birth:</span> 14.02.1989</p>
            </div>
        </div>
        <div class="block-fuild without-head">
            <div class="stream">
                <div class="item clearfix">
                    <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/users/aqvatarius.jpg') }}" class="img-polaroid"/></a></div>
                    <div class="info">
                        <a class="name" href="#">Aqvatarius</a>
                        <p class="title"><span class="icon-picture"></span> uploaded a new <strong>4 images</strong>:</p>
                        <div class="text gallery">
                            <a class="fancybox" rel="group" href="{{ asset('bundles/admin/img/example_mini.jpg') }}"><img src="{{ asset('bundles/admin/img/example_mini.jpg') }}" class="img-polaroid"/></a>
                            <a class="fancybox" rel="group" href="{{ asset('bundles/admin/img/example_mini.jpg') }}"><img src="{{ asset('bundles/admin/img/example_mini.jpg') }}" class="img-polaroid"/></a>
                            <a class="fancybox" rel="group" href="{{ asset('bundles/admin/img/example_mini.jpg') }}"><img src="{{ asset('bundles/admin/img/example_mini.jpg') }}" class="img-polaroid"/></a>
                            <a class="fancybox" rel="group" href="{{ asset('bundles/admin/img/example_mini.jpg') }}"><img src="{{ asset('bundles/admin/img/example_mini.jpg') }}" class="img-polaroid"/></a>
                        </div>
                        <p class="actions"><a href="#"><span class="icon-comment"></span> Comment</a> <a href="#"><span class="icon-heart"></span> Like</a></p>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/users/aqvatarius.jpg') }}" class="img-polaroid"/></a></div>
                    <div class="info">
                        <a class="name" href="#">Aqvatarius</a>
                        <p class="title"></p>
                        <div class="text">
                            <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin.</p>
                        </div>
                        <p class="actions"><a href="#"><span class="icon-comment"></span> Comment</a> <a href="#"><span class="icon-heart"></span> Like</a></p>
                    </div>
                    <div class="messages">
                        <div class="item clearfix">
                            <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" class="img-polaroid" width="36"></a></div>
                            <div class="info">
                                <a href="#" class="name">Olga</a>
                                <p>Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span>18 feb 2012 12:45</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/users/aqvatarius.jpg') }}" class="img-polaroid"/></a></div>
                    <div class="info">
                        <a class="name" href="#">Aqvatarius</a>
                        <p class="title"><span class="icon-picture"></span> updated picture:</p>
                        <div class="text">
                            <img src="{{ asset('bundles/admin/img/users/user_bg.jpg') }}"/>
                        </div>
                        <p class="actions"><a href="#"><span class="icon-comment"></span> Comment</a> <a href="#"><span class="icon-heart"></span> Like</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
