{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('event') }}">Evènements</a> <span class="divider">/</span>
    </li>
    <li class="active">Liste</li>
{% endblock %}

{% block menu %}
    <li class="nav-header">Evènement</li>
    <li><a href="{{ path('event_new') }}">Ajouter</a></li>
    <li class="active"><a href="{{ path('event') }}">Liste des évènements</a></li>
{% endblock %}

{% block body %}
<div class="box">
    <h4 class="box-header round-top">
        Liste des évènements ({% if nb is defined %}{{ nb }}{% endif %})
        <a class="box-btn" title="close">
            <i class="icon-remove"></i>
        </a>
        <a class="box-btn" title="toggle">
            <i class="icon-minus"></i>
        </a>
        <a class="box-btn" title="#box-config-modal" data-toggle="modal" title="config">
            <i class="icon-cog"></i>
        </a>
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">
            <table class="table table-striped tListeEvents">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Lieux</th>
                        <th>Site internet</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>{% if entity.dateDeb %}{{ entity.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.place }}</td>
                        <td>{{ entity.website }}</td>
                        <td>{{ entity.description }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{{ path('event_new') }}"><button class="btn" type="button">Ajouter un évènement</button></a>

{% endblock %}
