{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block box_title %}
    Liste des équipes
{% endblock %}

{% block box_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('team_show', { 'id': entity.id }) }}" class="btn btn-small btn-success">
                        <i class="icon-zoom-in icon-white"></i>
                        Voir
                    </a>
                    <a href="{{ path('team_edit', { 'id': entity.id }) }}" class="btn btn-small btn-info">
                        <i class="icon-edit icon-white"></i>
                        Modifier
                    </a>
                    <a href="{{ path('team_edit', { 'id': entity.id }) }}" class="btn btn-small btn-danger">
                        <i class="icon-trash icon-white"></i>
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block box_button %}
<a href="{{ path('team_new') }}" class="btn btn-small btn-primary">
    Ajouter une équipe
</a>
{% endblock %}




