{% extends '::base.html.twig' %}

{% block title %} {{ rider.firstName }} {{ rider.lastName }} | {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/team/css/team.css') }}' />
{% endblock %}

{% block featured %}
<div id="rider-mission">
    <img class="profile-picture" src="{{ asset(['bundles/team/images/', 'no_photo.png' ]|join) }}" alt="{{ rider.firstName }} {{ rider.lastName }}" title="{{ rider.firstName }} {{ rider.lastName }}" height="395" />
    {% block profile %}
        <div id="profile">
            <div class="profil-line">
                <div class="profil-0">
                    <div class="value rider">{{ rider.firstName }} {{ rider.lastName }}</div>
                </div>
                <div class="profil-1">
                    <div class="label">Date de naissance</div>
                    <div class="value"><span class="date-display-single">29 Janvier 1988</span></div>
                </div>
                <div class="profil-2">
                    <div class="label">Ville</div>
                    <div class="value">Colombes</div>
                </div>
                <div class="profil-3">
                    <div class="label">Taille</div>
                    <div class="value">1m82</div>
                </div>
            </div>
            <div class="profil-line">
                <div class="profil-1">
                    <div class="label">Age</div>
                    <div class="value">25 ans</div>
                </div>
                <div class="profil-1">
                    <div class="label">Style de course</div>
                    <div class="value">Marathon</div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}

{% block body %}

    <aside id="sidebar">
        <div class="test">
            <div id="block-block-1" class="block palmares">
                <div class="title"><h2>Palmarès</h2></div>
                <div class="container">
                    <div class="content">
                        <div class="view-palmares">
                            <div class="view-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="block-block-3" class="block">
                <div class="title"><h2>Partenaires</h2></div>
                <div class="container">
                    <div class="content">
                        <ul style="margin-left: 58px;">
                            <li style="cursor:pointer;" onclick="window.open('/');" class="sponsors rs2p"></li>
                            <li style="cursor:pointer;" onclick="window.open('http://www.synergie.fr/');" class="sponsors synergie"></li>
                            <li style="cursor:pointer;" onclick="window.open('http://www.arcade-groupe.com/');" class="sponsors arcade"></li>
                            <li style="cursor:pointer;" onclick="window.open('http://www.matis-group.com/');" class="sponsors matis"></li>
                            <li style="cursor:pointer;" onclick="window.open('http://www.cabinet-iena.com');" class="sponsors iena"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div id="content" class="column">
        <div id="section" style="margin-top:36px;">
            {% block breadcrumb %}
                <div id="breadcrumb">
                    <a href="{{path('_welcome')}}">Accueil</a>
                    <span class="separator"></span>
                    <a href="{{path('team_list')}}">équipe</a>
                    <span class="separator"></span>
                    <a href="{{path('team_list')}}">coureurs</a>
                    <span class="separator"></span>
                    {{ rider.firstName }} {{ rider.lastName }}
                </div>
            {% endblock %}

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div id="block-block-2" class="block">
                <div class="container">
                    <div class="content">
                        <video width="620" data-setup="{}" class="video-js vjs-default-skin" height="366" controls preload="auto" loop="0">
                            <source src="{{ asset('uploads/videos/video.mp4') }}" type="video/mp4" />
                            <source src="{{ asset('uploads/videos/video.webm') }}" type="video/webm" />
                        </video>
                    </div>
                </div>
            </div>
            <div id="block-block-4" class="block">
                <div class="title"><h2>Photos du coureur</h2></div>
                <div class="container">
                    <div class="content">
                        <div id="galleria"></div>
                    </div>
                </div>
            </div>
            <div id="block-block-5" class="block">
                <!-- ARTICLES EN RAPPORT AU COUREUR -->
                <div class="container">
                    <div class="content">
                    </div>
                </div>
            </div>
            <div id="block-block-6" class="block">
                <div class="title"><h2>Commentaires</h2></div>
                <div class="container">
                    <div class="content">
                        <div class="fb-comments" data-href="http://longchamp-roller-team.com" data-num-posts="2" data-width="620"></div>
                    </div>
                </div>
            </div>

            <div id="node-38" class="node">
                <div class="content clear-block">
                    <div class="rider-profil">
                        <div class="column-3 col-0">
                            <div class="biography content-block" style="border:none; margin-bottom:0; padding-bottom:0;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $("#main-wrapper").addClass('sidebar');
</script>
<script src="{{ asset('bundles/gallery/js/galleria-1.2.6.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gallery/js/galleria/plugins/picasa/galleria.picasa.min.js') }}"></script>
<script type="text/javascript">
    Galleria.loadTheme('{{ asset('bundles/gallery/js/galleria/themes/classic/galleria.classic.min.js') }}');
    //VERSION PICASA
    $('#galleria').galleria({
        height: 470,
        picasa: 'user:103763082660586563222', // 'galleriajs' is the username and 'Demo' is the album ID
        picasaOptions: {
            sort: 'date-posted-asc'
        }
    });
</script>
{% endblock%}
