{% extends '::base.html.twig' %}

{% block body %}
<div id="body">
    <div class="container">
        <h3>Qui sommes-nous ?</h3>
        <div class="row-fluid">
            <div class="span6">
                <p>
                    Le club a été crée en début d’année 2010 par Julien Morelle et Jérémy Dubosc après l’annonce de la fermeture du Club LSC roller dont ils étaient issus.
                </p>
                <p>
                    Durant la première année, l'association se fait une place dans le domaine des courses d'endurance en remportant le Challenge du Centre et termine troisième des 24 heures du Mans dans la catégorie "endurance".
                </p>
                <p>
                    Elle poursuit son chemin en dehors de ces frontières l'année suivante en terminant deuxième des 24h de Calafat (Espagne).
                </p>
                <h4>Les moyens à disposition pour fonctionner</h4>
                <p>
                    Les patineurs du Longchamp Roller Team profitent d’une salle et d'autres infrastructures :
                    <ul>
                        <li>Une salle polyvalente de 70m de long sur 40 m de large</li>
                        <li>Une piste d’athlétisme en goudron est également disponible pour la course</li>
                        <li>D’une salle de musculation.</li>
                    </ul>
                </p>
                <h4>Chiffres clés sur le club</h4>
                <ul>
                    <li>Vainqueur du Challenge du Centre 2010 </li>
                    <li>3e aux 24h du Mans 2010 dans la Catégorie endurance</li>
                    <li>2e du Challenge du Centre 2011</li>
                    <li>2e des 24h de Calafat 2011</li>
                </ul>
                <p>
                    <a href="{{ path('contact') }}" class="btn pull-right"><i class="icon-phone"></i>Nous contacter !</a>
                </p>
            </div>
            <div class="span6">
                <div class="img-polaroid">
                    <video width="100%" height="300" class="video-js vjs-default-skin" preload="auto" poster="{{ asset('bundles/site/images/video/poster.jpg') }}" controls="controls" data-setup="{}">
                        <source src="http://video.longchamp-roller-team.com/longchamp_roller_team_@_cor%C3%A9e_du_sud_640x360.mp4" type="video/mp4">
                        <!--<source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type='video/webm; codecs="vp8, vorbis"' />
                        <source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.ogv" type='video/ogg; codecs="theora, vorbis"' />-->
                        <object type="application/x-shockwave-flash" width="100%" height="300" data="http://video.longchamp-roller-team.com/longchamp_roller_team_@_cor%C3%A9e_du_sud_640x360.mp4">
                            <param name="movie" value="http://video.longchamp-roller-team.com/longchamp_roller_team_@_cor%C3%A9e_du_sud_640x360.mp4" />
                            <param name="wmode" value="transparent" />
                            <!--[if lte IE 6 ]>
                            <embed src="http://video.longchamp-roller-team.com/longchamp_roller_team_@_cor%C3%A9e_du_sud_640x360.mp4" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="1000" height="368"></embed>
                            <![endif]-->
                            <p>Vous n'avez pas de navigateur moderne, ni flash d'installé sur Internet Explorer... suivez les liens ci-dessous pour télécharger les vidéos.</p>
                        </object>
                    </video>
                    <small>Marathon en corée du sud 2012.</small>
                </div>
            </div>
        </div>
        <hr class="solid">
        <h3>Membre du bureau</h3>
        <div class="row-fluid">
            <div class="span4">
                <h4 class="function">Julien Morelle, Président.</h4>
                <p>
                    <img src="{{ asset('bundles/site/images/themes/photo.jpg') }}" class="img-circle" alt="" align="right">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
            </div>

            <hr class="dashed visible-phone">

            <div class="span4">
                <h4 class="function">Jérémy Dubosc, Secrétaire/Responsable du développement.</h4>
                <p>
                    <img src="{{ asset('bundles/site/images/themes/photo.jpg') }}" class="img-circle" alt="" align="right">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos.
                </p>
            </div>

            <hr class="dashed visible-phone">

            <div class="span4">
                <h4 class="function">Lydie Dubosc, Trésorière.</h4>
                <p>
                    <img src="{{ asset('bundles/site/images/themes/photo.jpg') }}" class="img-circle" alt="" align="right">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                </p>
            </div>

        </div>

    </div>

</div>
{% endblock %}