{% extends '::base.html.twig' %}

{% block body %}
    {% block content %}
        <div id="content" class="column">
            <h2>Calendrier saison 2012</h2>
            <div class="view-calendar">
                <ul>
                    <li class="month">Mars</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">04</div>
                            </div>
                            <div class="title">
                                Marathon de Lille
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">11</div>
                            </div>
                            <div class="title">
                                Chpt France Marathon
                            </div>
                        </div>
                    </li>
                    <li class="month">Avril</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">15</div>
                            </div>
                            <div class="title">
                                Trophee de Saint-Germain-en-Laye
                            </div>
                        </div>
                    </li>
                    <li class="month">Mai</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">08</div>
                            </div>
                            <div class="title">
                                Regionaux Route
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">13</div>
                            </div>
                            <div class="title">
                                Marathon de Rennes
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">26</div>
                            </div>
                            <div class="title">
                                Les 3 routes
                            </div>
                        </div>
                    </li>
                    <li class="month">Juin</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">03</div>
                            </div>
                            <div class="title">
                                6h de Clermont
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">10</div>
                            </div>
                            <div class="title">
                                Marathon de Dijon
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">17</div>
                            </div>
                            <div class="title">
                                Marathon de Strasbourg
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">30</div>
                            </div>
                            <div class="title">
                                24h du Mans
                            </div>
                        </div>
                    </li>
                    <li class="month">Juillet</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">08</div>
                            </div>
                            <div class="title">
                                Marathon de Compiegne
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/Spain.gif') }}" alt="Spain" title="Spain" width="32" height="32">
                                </div>
                                <div class="days">21</div>
                            </div>
                            <div class="title">
                                24h de Calafat
                            </div>
                        </div>
                    </li>
                    <li class="month">Septembre</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">09</div>
                            </div>
                            <div class="title">
                                Tran s roller
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/Germany.gif') }}" alt="Germany" title="Germany" width="32" height="32">
                                </div>
                                <div class="days">22</div>
                            </div>
                            <div class="title">
                                Marathon de Berlin
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">30</div>
                            </div>
                            <div class="title">
                                Marathon des Herbiers
                            </div>
                        </div>
                    </li>
                    <li class="month">Octobre</li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">07</div>
                            </div>
                            <div class="title">
                                Marathon de Cologne
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="calendar">
                            <div class="infos">
                                <div class="logo">
                                    <img src="{{ asset('bundles/calendar/images/flag/France.gif') }}" alt="France" title="France" width="32" height="32">
                                </div>
                                <div class="days">16</div>
                            </div>
                            <div class="title">
                                6h de Chartres
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
{% endblock %}