{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/site/css/leaflet.css') }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('bundles/site/css/leaflet.ie.css') }}" /><![endif]-->
{% endblock %}

{% block body %}
    <div id="body">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <h2>Le Challenge Piste de La Muette - Paris 16ème arrondissement</h2>
                    <p>L’association Longchamp Roller Team vous invite à participer
                        à la 1er édition du « Challenge piste de la Muette » le Dimanche 23 Juin 2013. De la catégorie poussin à vétérane ou sur l’heure roller ouverte à tous.</p>
                    <div class="alert alert-info">
                        Les inscriptions ouvriront le <b>Samedi 16 Mars 2013</b>.<br/>
                        Adresse de l'évènement : 60 boulevard Lannes, 75016 Paris <br/><br/>
                        <b>Inscription complète reçue au plus tard le 10 juin 2013 :</b><br/>
                        Tarif individuel préférentiel : <b>4€</b><br/><br/>
                        <b>Inscription complète reçue après le 10 juin 2013 ou sur place :</b><br/>
                        Tarif individuel : <b>12€</b><br/>
                        Tarif club (10 personnes minimun) :  <b>10€</b><br/><br/>
                        Règlement à l’ordre de «Longchamp roller team » à renvoyer avec le bulletin d’inscription à l’adresse suivante (Dubosc Jérémy, 22 rue de Pologne 78100 Saint-Germain en Laye)
                    </div>
                    <div class="img-polaroid">
                        <p style="text-align: center;"><div id="map" style="height: 300px;"></div></p>
                    </div>
                </div>
            </div>
            <div class="row-fluid margin-top-10">
                <a href="{{ asset('uploads/documents/formulaires/dossier_inscription_challenge_idf_muette_2013.zip') }}">
                    <p style="text-align: center;"><button class="btn btn-primary">Télécharger le dossier d'inscription et programme</button></p>
                </a>
                <a title="Inscription directement sur le site" href="{{ path('competition_muette') }}">
                    <p style="text-align: center;"><button class="btn btn-primary">Inscription directement sur le site</button></p>
                </a>    
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/site/js/leaflet.js') }}"></script>
    <script>
        var map = L.map('map').setView([48.864733, 2.268745], 17);

        L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors.'
        }).addTo(map);

        L.marker([48.864733, 2.268745]).addTo(map);
    </script>
{% endblock %}