{% extends ':Admin:base.html.twig' %}

{% block title_page %}
    Gestion des adhérents
{% endblock %}

{% block body %}
<div class="span12">
    <h4 class="header">Adhérents</h4>
    <div class="alert alert-info">
        Pour la saison 2012/2013, la période d'adhésion est du <b>1er Octobre 2012</b> au <b>30 Septembre 2013</b>.
    </div>
    <table class="table table-bordered table-striped tListeUsers">
        <thead>
        <tr>
            <th>N° Matricule</th>
            <th>N° licence</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Demandé le</th>
            <th>Statut</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for a in adherents %}
            <tr>
                <td>
                    {{ a.matricule }}
                </td>
                <td>
                    {% if a.licence is not null %}
                        {{ a.licence }}
                    {% else %}
                        Non communiqué
                    {% endif %}
                </td>
                <td>{{ a.firstName }} </td>
                <td>{{ a.lastName }}</td>
                <td>{{ a.email }}</td>
                <td>{{ a.dateSubmission|date('d/m/Y') }}</td>
                <td>
                    {% if a.dateValidation is not null and a.isValid == 1 %}
                        <span class="label label-success">Validé le {{ a.dateValidation|date('d/m/Y') }}</span>
                    {% elseif a.dateLastRevival is not null and a.isValid == 0 %}
                        <span class="label label-important">Relancé le {{ a.dateValidation|date('d/m/Y') }}</span>
                    {% else %}
                        <span class="label label-important">Non validé</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            {% if a.isValid == 0 %}
                                <li><a href="{{ path('user_adhesion_validate', { 'id': a.id }) }}"><i class="icon-ok"></i> Valider</a></li>
                                <li><a href="{{ path('user_adhesion_reject', { 'id': a.id }) }}"><i class="icon-ban-circle"></i> Rejeter</a></li>
                                <li><a href="{{ path('user_adhesion_validate_revival', { 'id': a.id }) }}"><i class="icon-repeat"></i> Relancer</a></li>
                            {% elseif is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('deactivate_user', { 'id': a.id }) }}"><i class="icon-ban-circle"></i> Désactiver</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {%  else %}
            <tr>Aucune nouvelle adhésion trouvée.</tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
