{% extends '::admin.html.twig' %}

{% block body %}

<h1>Video list</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Vimeoid</th>
            <th>Isautoplay</th>
            <th>Ispublished</th>
            <th>Ispublic</th>
            <th>Ishighlighted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('video_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.vimeoId }}</td>
            <td>{{ entity.isAutoPlay }}</td>
            <td>{{ entity.isPublished }}</td>
            <td>{{ entity.isPublic }}</td>
            <td>{{ entity.isHighlighted }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('video_show', { 'id': entity.id }) }}"><button class="btn" type="button">Voir</button></a>
                    </li>
                    <li>
                        <a href="{{ path('video_edit', { 'id': entity.id }) }}"><button class="btn" type="button">Modifier</button></a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('video_new') }}"><button class="btn" type="button">Ajouter une vidéo</button></a>

{% endblock %}