{% extends '::base_ajax.html.twig' %}

{% block body %}
<video width="100%" height="300" class="video-js vjs-default-skin" preload="auto" poster="{{ asset('bundles/site/images/video/poster.jpg') }}" controls="controls" data-setup="{}">
    <source src="{{ entity.path }}.mp4" type="video/mp4">
    <source src="{{ entity.path }}.webm" type='video/webm; codecs="vp8, vorbis"' />
    <source src="{{ entity.path }}.ogv" type='video/ogg; codecs="theora, vorbis"' />
    <object type="application/x-shockwave-flash" width="100%" height="300" data="{{ entity.path }}.mp4">
        <param name="movie" value="{{ entity.path }}.mp4" />
        <param name="wmode" value="transparent" />
        <!--[if lte IE 6 ]>
        <embed src="{{ entity.path }}.mp4" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="1000" height="368"></embed>
        <![endif]-->
        <p>Vous n'avez pas de navigateur moderne, ni flash d'installé sur Internet Explorer... suivez les liens ci-dessous pour télécharger les vidéos.</p>
    </object>
</video>
{% endblock %}