<video width="640" height="380" class="video-js vjs-default-skin" poster="{{ asset('bundles/site/images/video/poster.jpg') }}" controls="controls" data-setup="{}">
    <source src="{{ entity.path }}" type="video/mp4">
    <object type="application/x-shockwave-flash" width="640" height="380" data="{{ entity.path }}">
        <param name="movie" value="{{ entity.path }}" />
        <param name="wmode" value="transparent" />
        <!--[if lte IE 6 ]>
        <embed src="{{ entity.path }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="1000" height="368"></embed>
        <![endif]-->
        <p>Vous n'avez pas de navigateur moderne, ni flash d'installé sur Internet Explorer... suivez les liens ci-dessous pour télécharger les vidéos.</p>
    </object>
</video>