{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/plugins/fullcalendar/fullcalendar_gebo.css') }}" />
{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <ul class="dshb_icoNav clearfix">
            <li>
                <a href="javascript:void(0)" style="background-image: url({{ asset('bundles/admin/img/gCons/multi-agents.png') }})">
                    <span class="label label-info">+10</span> Utilisateurs
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" style="background-image: url({{ asset('bundles/admin/img/gCons/chat-.png') }})">
                    Messages
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" style="background-image: url({{ asset('bundles/admin/img/gCons/edit.png') }})">
                    Ajouter un article
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" style="background-image: url({{ asset('bundles/admin/img/gCons/add-item.png') }})">
                    Ajouter une page
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" style="background-image: url({{ asset('bundles/admin/img/gCons/configuration.png') }})">
                    Configuration
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="box">
            <h4 class="box-header round-top">
                Widget
                <a class="box-btn" title="close">
                    <i class="icon-remove"></i>
                </a>
                <a class="box-btn" title="toggle">
                    <i class="icon-minus"></i>
                </a>
                <a class="box-btn" title="#box-config-modal" data-toggle="modal">
                    <i class="icon-cog"></i>
                </a>
            </h4>
            <div class="box-container-toggle">
                <div class="box-content">
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="box">
            <h4 class="box-header round-top">
                Derniers articles
                <a class="box-btn" title="close">
                    <i class="icon-remove"></i>
                </a>
                <a class="box-btn" title="toggle">
                    <i class="icon-minus"></i>
                </a>
                <a class="box-btn" title="#box-config-modal" data-toggle="modal">
                    <i class="icon-cog"></i>
                </a>
            </h4>
            <div class="box-container-toggle">
                <div class="box-content">
                    <div class="block news scrollBox">
                        <div class="scroll" style="height: 270px;">
                            <div class="item">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin. Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil tip" title="Edit"></a>
                                    <a href="#" class="icon-trash tip" title="Remove"></a>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin. Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil tip" title="Edit"></a>
                                    <a href="#" class="icon-trash tip" title="Remove"></a>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin. Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil tip" title="Edit"></a>
                                    <a href="#" class="icon-trash tip" title="Remove"></a>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin. Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil tip" title="Edit"></a>
                                    <a href="#" class="icon-trash tip" title="Remove"></a>
                                </div>
                            </div>
                            <div class="item">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p>Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat lacinia sollicitudin. Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil tip" title="Edit"></a>
                                    <a href="#" class="icon-trash tip" title="Remove"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="box">
            <h4 class="box-header round-top">
                Derniers inscrits
                <a class="box-btn" title="close">
                    <i class="icon-remove"></i>
                </a>
                <a class="box-btn" title="toggle">
                    <i class="icon-minus"></i>
                </a>
                <a class="box-btn" title="#box-config-modal" data-toggle="modal">
                    <i class="icon-cog"></i>
                </a>
            </h4>
            <div class="box-container-toggle">
                <div class="box-content">
                    <div class="block users scrollBox">
                        <div class="scroll" style="height: 270px;">
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="image"><a href="#"><img src="{{ asset('bundles/admin/img/aqvatarius_s.jpg') }}" width="32"/></a></div>
                                <div class="info">
                                    <a href="#" class="name">Aqvatarius</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6"></div>
    <div class="span6">
        <div class="box">
            <h4 class="box-header round-top">
                <i class="icon-calendar"></i> Agenda
                <a class="box-btn" title="close">
                    <i class="icon-remove"></i>
                </a>
                <a class="box-btn" title="toggle">
                    <i class="icon-minus"></i>
                </a>
                <a class="box-btn" title="#box-config-modal" data-toggle="modal">
                    <i class="icon-cog"></i>
                </a>
            </h4>
            <div class="box-container-toggle">
                <div class="box-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/plugins/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/dashboard.js') }}"></script>
{% endblock %}