{% extends ':Admin:base.html.twig' %}

{% block title_page %}
    Evènement
{% endblock %}

{% block menu %}
    <li class="nav-header">Evènement</li>
    <li><a href="{{ path('event_new') }}">Ajouter</a></li>
    <li class="active"><a href="{{ path('event') }}">Liste des évènements</a></li>
{% endblock %}

{% block page_header %}
    <div class="row-fluid" style="border-bottom: 1px solid #eeeeee;margin-bottom: 18px;">
        <div class="span8 m-botton-group">
            <h3>événements</h3>
        </div>
        <div class="span4">
            <div class="btn-group pull-right">
                <a data-toggle="modal" rel="Ajouter un évenement" class="btn btn-danger popin" href="{{ path('event_new') }}" >
                    Ajouter un évenement
                </a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a data-toggle="modal" href="#myModal"><i class="icon-file"></i>Video</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#myModal">
                            <i class="icon-picture"></i>
                            Image
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box widget-calendar">
            <div class="widget-title">
                <span class="icon"><i class="icon-calendar"></i></span>
                <h5>Calendrier</h5>
                <div class="buttons">
                    <a id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-success btn-mini popin"><i class="icon-plus icon-white"></i> Ajouter un évènement</a>
                    <div class="modal hide" id="modal-add-event">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h3>Ajouter un évènement</h3>
                        </div>
                        <div class="modal-body">
                            {% render "SiteBundle:Event:new" %}
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Annuler</a>
                            <a href="#" id="add-event-submit" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                    <div class="modal hide" id="modal-show-event">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-content nopadding">
                <div class="panel-left">
                    <div id="fullcalendar"></div>
                </div>
                <div id="external-events" class="panel-right">
                    <div class="panel-title"><h5>Events</h5></div>
                    <div class="panel-content">
                        <div class="external-event ui-draggable label label-inverse">My Event 1</div>
                        <div class="external-event ui-draggable label label-inverse">My Event 2</div>
                        <div class="external-event ui-draggable label label-inverse">My Event 3</div>
                        <div class="external-event ui-draggable label label-inverse">My Event 4</div>
                        <div class="external-event ui-draggable label label-inverse">My Event 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/site/js/admin/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/site/js/admin/unicorn.calendar.js') }}"></script>
{% endblock %}
