{%  block field_row %}
{%  spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null), {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{%  endspaceless %}
{% endblock field_row %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% for child in form %}
            <li class="checkBox">
                {{ form_label(child) }}
                {{ form_widget(child) }}
            </li>
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}